.creationForm{
    
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
    padding-top: 1cm;

}
#description {

    overflow: hidden;
    resize: none;

}
.deletionForm{
    
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    text-align: center;
    padding-top: 1cm;

}