<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Contable</title>
    
    <!-- Css Bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="../static/css/account-creation.css">

</head>

<body>
    
    

    <div class="creationForm">

        <form id="accountCreationForm">
                
            <h4>¿Desea ELIMINAR una cuenta?</h4>
            <br>
            <input type="text" id="name" placeholder="Nombre de la cuenta" autofocus>
            <br>
            <br>
            <input type="text" id="password" required="true" placeholder="Contraseña">
            <br>
            <br>
            <button type="button" class="btn btn-danger" id="accountDeletionFormSubmitBtn">ELIMINAR</button>

        </form>

    </div>

    
    <script src="../static/js/account-deleting.js"></script>
</body>

</html>