<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- Css Bootstrap -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/bootstrap/bootstrap.min.css">

    <!-- Css Custom -->
    <link rel="stylesheet" href="../../static/css/open-groups/open-group.css">

</head>
<body>

    <div id="tittleOfWindow">

        <h1 id="tittleOfWindowText"></h1>
        <h2 id="descriptionOfWindow"></h2>
        <br>

        <button type="button" class="btn btn-primary">+ Crear asiento contable</button>
        <button type="button" class="btn btn-primary" id="createPayRollBtn">+ Crear nomina</button>

    </div>

    <br>
    <br>
    <br>

    <div class="container" id="objectsContainer">
        
        

    </div>

    <script src="../../static/js/open-groups/open-group.js"></script>

</body>
</html>