<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Contable</title>

    <!-- Css Bootstrap -->
    <link rel="stylesheet" href="../../static/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/bootstrap/bootstrap.min.css">

    <!-- Css Custom -->
    <link rel="stylesheet" href="../../static/css/groups/groups.css">

</head>
<body>

    <div id="tittleOfWindow">

        <h1 id="tittleOfWindowText">GRUPOS</h1>

    </div>

    <div id="createAndDeleteBtnsContainer">

        <button type="button" class="btn btn-success" id="createGroupBtn">Crear Grupo</button>

        <button type="button" class="btn btn-danger" id="deleteGroupBtn">Borrar Grupo</button>


    </div>

    <div class="container px-4" id="3">
            
            

    </div>

    <div id="bodyToModify">

        

    </div> 

    <script src="../../static/js/groups/groups.js"></script>
    <script src="../../static/js/bootstrap/bootstrap.min.js"></script>

</body>
</html>