<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuentas creadas</title>

    <!-- Css Bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- Css Custom -->
    <link rel="stylesheet" href="../../static/css/accounts.css">

</head>
<body>

    <div id="tittleOfWindow">

        <h1 id="tittleOfWindowText">Cuentas creadas</h1>

    </div>

    <div class="container px-4" id="groupsContainer">
        
        

    </div>

    <script src="../static/js/accounts.js"></script>

</body>
</html>